<!DOCTYPE html>
<html>
<head>
	<title>Menu HTML déroulant </title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="menu.css">
</head>
	<body>
		<nav>
			<ul>
				<li class="menu-html"> <a href="html.html">HTML</a>
					<ul class="submenu">
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
					</ul>
				</li>
				<li class="menu-css"> <a href="css.html">CSS</a>
					<ul class="submenu">
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
					</ul>
				</li>
				<li class="menu-js"> <a href="javascript.html">Javascript</a>
					<ul class="submenu">
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
						<li><a href="#"> Cours complet HTML et CSS</a></li>
					</ul>
				</li>
				<li class="menu-contact"> <a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</body>
</html>