<!DOCTYPE html>
<html>
<head>
		<title> Wild Dog</title>
		<meta charset="utf-8">

		<a href="http://www.lewagon.fr" target="_blank"> Le Wagon</a>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans&display=swap" rel="stylesheet">
		
</head>
<body>
	<div id="Titre">
		<h1> Projet transverse <i class="far fa-sun"></i></h1>
		<p> Projet de 3 ème année</p>
	</div>

	


	</div
	<div class="feature">
		<h2> Quick</h2>
		<img src="img/plane.png" alt="Very quick" width="100">
		<p> A quick app, <strong> very quick</strong></p>
	</div>

	<div class="feature">
		<h2> Simple</h2>
		<img src="img/carnet.png" alt="Very simple" width="100">
		<p> A simple app, <strong> very simple</strong></p>
	</div>

	<div class="feature">
			<h2> Quick</h2>
			<img src="img/plane.png" alt="Very quick" width="100">
			<p> A quick app, <strong> very quick</strong></p>
		</div>

		<div class="feature">
			<h2> Simple</h2>
			<img src="img/carnet.png" alt="Very simple" width="100">
			<p> A simple app, <strong> very simple</strong></p>
		</div>

	<div id="my-footer">
		<p> Playground app is a product ©Wild Dog </p>
	</div>
</body>
</html>

<!-- end of file -->