{% extends 'base.html.twig' %}


{% block body %}


    <div class="container mt-4">

        <h1>Creer l'itineraire</h1>

        {{  include('admin/itineraire/__form.html.twig',{ button :'Creer'} ) }}


    </div>

{% endblock %}



